<div acme-navbar></div>
<div class="grid">
  <div class="row center-xs">
    <div class="col xs-10 m-8 ">
      <h1>Register</h1>
      <form name="registerForm" ng-submit="ctrl.submit(username, email, rol, firstName, lastName, dpi, password, confirmPassword)" ng-controller="RegisterController">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" ng-model="username" required/>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" ng-model="email" required/>

        <label>Role:</label>
        <label>
          <input name="rol" type="radio" ng-model="rol" value="rol1">
          Rol 1
        </label>
        <label>
          <input name="rol" type="radio" ng-model="rol" value="rol2">
          Rol 2
        </label>
        <label>
          <input name="rol" type="radio" ng-model="rol" value="rol3">
          Rol 3
        </label>

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" ng-model="firstName" required/>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" ng-model="lastName" required/>

        <label for="dpi">DPI:</label>
        <input type="number" name="dpi" id="dpi" ng-model="dpi" required/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" ng-model="password" required/>


        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" required/>

        <input type="submit" id="submit" value="Register"/>
      </form>
    </div>
  </div>
</div>
