<!--
<div class="frame">
  <div class="row middle-xs main-panel">
    <div class="col xs-8 m-6 l-6">
      <h1>Login</h1>
      <div class="row">
        <form name="loginForm" ng-submit="ctrl.submit(email, password)" ng-controller="LoginController">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" ng-model="email" required/>
            <span ng-show="loginForm.email.$touched && loginForm.email.$error.required" class="">Email is required.</span>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" ng-model="password" required/>
            <span ng-show="loginForm.password.$touched && loginForm.password.$error.required" class="">Password is required.</span>
          </div>

          <input type="submit" id="submit" value="Login"/>
        </form>

        <button we-button><a ng-href="#/register">Register</a></button>

      </div>

    </div>
  </div>
</div> -->

<div acme-navbar></div>
<div class="grid frame">
  <div class="row middle-xs center-xs main-panel">
    <div class="col xs-6 m-5 l-4">

      <div class="main-form login-form" ng-form="loginForm">

        <div class="logo">
          <h1>ExpeSIT</h1>
        </div>

        <div
          we-input-wrapper
          component-position="right">

          <input
            type="text" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            ng-model-options="{ debounce: 550 }"
            placeholder="EMAIL"
            name="loginEmail"
            ng-model="ctrl.authData.email"
            autofocus>

          <p class="input-alert"
            ng-show="loginForm.loginEmail.$error.pattern">
            Ingresa un correo válido.
          </p>

          <we-icon ng-if="loginForm.loginEmail.$error.pattern"
            icon="times" class="input-mark input-mark-error"></we-icon>
          <we-icon ng-if="loginForm.loginEmail.$error.pattern != true"
            icon="envelope-o" class="input-mark"></we-icon>
        </div>

        <div
          we-input-wrapper
          component-position="right">

          <input
            ng-enter="ctrl.login()"
            name="loginPassword"
            type="password" required
            placeholder="CONSTRASEÑA"
            ng-model="ctrl.authData.password">

           <p class="input-alert"
            ng-show="loginForm.loginPassword.$error.pattern">
            La contraseña debe ser alfanumérica y contener al
            menos 8 caracteres y una letra mayúscula.</p>

            <we-icon ng-if="loginForm.loginPassword.$error.pattern"
            icon="times" class="input-mark input-mark-error"></we-icon>
            <we-icon
              ng-if="loginForm.loginPassword.$error.pattern != true"
              icon="lock" class="input-mark"></we-icon>

        </div>

        <button
          we-button
          class="main-button login-button-loading"
          color="primary"
          type="submit"
          ng-disabled="loginForm.$invalid"
          toload="ctrl.login()">Login</button>
          <!--button
            we-button
            class="block main-button"
            color="primary"
            type="submit"
            ng-click="ctrl.logout()">Logout</button-->
      </div>

      <div class="final-link">
        <a href="#/register">¿Olvidaste tu contraseña?</a>
      </div>

    </div>
  </div>
</div>
