<div acme-navbar></div>
<div class="grid frame" ng-controller="LoginController">
  <div class="row middle-xs center-xs main-panel">
    <div class="col">
      <div class="row">
        <div class="main-form login-form" ng-form="loginForm">

          <div class="logo">
            <img src="../../../assets/images/logo-sit.png" alt="SIT" />
          </div>

          <div
            we-input-wrapper
            component-position="right">

            <input
              type="text" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              ng-model-options="{ debounce: 550 }"
              placeholder="EMAIL"
              name="loginEmail"
              ng-model="ctrl.email"
              autofocus>

            <p class="input-alert"
              ng-show="loginForm.loginEmail.$error.pattern">
              Ingresa un correo válido.
            </p>

            <we-icon ng-if="loginForm.loginEmail.$error.pattern"
              icon="times" class="input-mark input-mark-error"></we-icon>
            <we-icon ng-if="loginForm.loginEmail.$error.pattern != true"
              icon="envelope-o" class="input-mark"></we-icon>
          </div>

          <div
            we-input-wrapper
            component-position="right">

            <input
              ng-enter="ctrl.login()"
              name="loginPassword"
              type="password" required
              placeholder="CONTRASEÑA"
              ng-model="ctrl.password">

             <p class="input-alert"
              ng-show="loginForm.loginPassword.$error.pattern">
              La contraseña debe ser alfanumérica y contener al
              menos 8 caracteres y una letra mayúscula.</p>

              <we-icon ng-if="loginForm.loginPassword.$error.pattern"
              icon="times" class="input-mark input-mark-error"></we-icon>
              <we-icon
                ng-if="loginForm.loginPassword.$error.pattern != true"
                icon="lock" class="input-mark"></we-icon>

          </div>

          <button
            we-button
            class="main-button login-button-loading"
            type="submit"
            ng-disabled="loginForm.$invalid"
            ng-click="ctrl.submit()">Login</button>
        </div>
      </div>



      <div class="row center-xs">
        <div class="final-link">
          <a href="#/register">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</div>
