<div acme-navbar></div>
<div class="body" ng-controller="EditarExpedienteController">
  <h2 class="principal-title">Editar expediente {{ctrl.expediente_id}}</h2>

  <div class="info-container">
    <table class="data-table">
      <tr>
        <th>Número</th>
        <th>Estado</th>
        <th>Solicitante</th>
      </tr>
      <tr>
        <td>{{ctrl.id}}</td>
        <td>{{ctrl.estado}}</td>
        <td>{{ctrl.solicitante}}</td>
      </tr>
    </table>
  </div>

  <div class="form_container">
    <form method="post">
      <label>
        Opinión
        <textarea ui-tinymce="ctrl.tinymce_options" ng-model="ctrl.tinymce_model_opinion"></textarea>
      </label>
      <br>
      <label>
        Dictamen
        <textarea ui-tinymce="ctrl.tinymce_options" ng-model="ctrl.tinymce_model_dictamen"></textarea>
      </label>
      <br>
      <label>
        Providencia
        <textarea ui-tinymce="ctrl.tinymce_options" ng-model="ctrl.tinymce_model_providencia"></textarea>
      </label>
      <br>
	  <input type="submit" ng-click="ctrl.upload_info()" id="submit" value="Actualizar"/>

    </form>
  </div>
</div>
