<div acme-navbar></div>

<h2>Dashboard</h2>
<div class="container" ng-controller="MainController">

  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat="exp in ctrl.expedientes" ng-click="select(exp)">
      <td>{{exp.name}}</td>
      <td>{{exp.user}}</td>
      <td>{{exp.date}}</td>
      <td><a ui-sref="ver_expediente({id: exp.id})">Ver</a></td>
      <td><a ui-sref="editar_expediente({id: exp.id})">Editar</a></td>
      <td><a href="#/" ng-click="ctrl.remove_expediente(exp.id)">Eliminar</a> </td>
    </tr>
  </table>

  <div class="row left-xs">
    <div class="final-link">
      <a ui-sref="crear_expediente()">Crear Expediente</a>
    </div>
  </div>
</div>
