<div acme-navbar></div>

<h2>Dashboard</h2>
<div class="container" ng-controller="MainController" ng-if="ctrl.isLoggedIn()">

  <table style="width:100%">
    <tr>
      <th>Número</th>
      <th>Usuario</th>
      <th>Estado</th>
    </tr>
    <tr ng-repeat="exp in ctrl.expedientes" ng-click="select(exp)">
      <td>{{exp.numero}}</td>
      <td>{{exp.solicitante}}</td>
      <td>{{exp.estado}}</td>
      <td><a ui-sref="ver_expediente({id: exp.numero})">Ver</a></td>
      <td><a ui-sref="editar_expediente({id: exp.numero})">Editar</a></td>
      <td><a ui-sref="home" ng-click="ctrl.remove_expediente(exp.id)">Eliminar</a> </td>
    </tr>
  </table>

  <div class="row left-xs">
    <div class="final-link">
      <a ui-sref="crear_expediente()">Crear Expediente</a>
    </div>
  </div>
</div>
